Flask
gunicorn
onnxruntime             # The ONNX inference engine
opencv-python-headless
mtcnn
google-generativeai
Pillow
numpy~=1.26.0           # Keep pinned for stability with other libs
tensorflow